
PORT=3000
NODE_ENV=development
# Local MongoDB (default for dev)

# DocumentDB Local (matches docker-compose.yml)
DATABASE_URL=mongodb://admin:password@localhost:10260?authSource=admin&tls=true&tlsAllowInvalidCertificates=true&directConnection=true
DATABASE_NAME=blog


# DocumentDB connection (uncomment and fill for AWS DocumentDB or documentdb.io)
# DATABASE_URL=mongodb://<USERNAME>:<PASSWORD>@localhost:10260?authSource=admin&tls=true&tlsAllowInvalidCertificates=true&directConnection=true
